@import "../../../styles/variables.scss";
@import "../../../styles/font-variables.scss";
@import "../../../styles/color-variables.scss";

input {
  border-radius: $base-radius;
  border: 1px solid $base-border-color;
  color: $text-primary-color;
  cursor: pointer;
  font-family: $font-normal;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  padding: 0.6em 1.2em;
  transition: border-color, 0.25s;
  
  &:hover {
    border-color: $active-border-color;
  }
  &:focus,
  &:focus-visible {
    outline: 2px auto -webkit-focus-ring-color;
  }
}