@import "../../../styles/variables.scss";

button {
  border-radius: $base-radius;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
  
  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 2px auto -webkit-focus-ring-color;
  }
}