@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// family
$font-normal: 'Montserrat', sans-serif;

// size
$font-size-normal: 1em;

// Weight
$font-weight-normal: 500;